.toolbar {
  display: flex;
}

.toolbar__title {
  flex-grow: 2;
}

.toolbar__icon {
  margin: 0 8px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container__content {
  padding: 16px 32px 16px 0;
  flex-grow: 2;
  z-index: -1;
}

.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard__col {
  margin: 0 8px;
  padding: 16px;
  background: #fff;
}

.dashboard__col--stretch {
  flex-grow: 2;
}
