<div class="container">
  <header class="container__header mat-elevation-z2">
    <mat-toolbar class="toolbar">
      <span class="toolbar__title">
        Dashboard
      </span>
      <mat-icon class="toolbar__icon" color="accent" matTooltip="Servicing">build</mat-icon>
      <mat-icon class="toolbar__icon" color="accent" matTooltip="Settings">settings</mat-icon>
    </mat-toolbar>
  </header>
  <mat-drawer-container class="container__content">
    <mat-drawer mode="side" opened="true">
      <app-menu></app-menu>
    </mat-drawer>
    <mat-drawer-content class="main__content dashboard">
      <div class="dashboard__col dashboard__col--stretch">
        <app-vehicle-info></app-vehicle-info>
      </div>
      <div class="dashboard__col dashboard__col--stretch">
        <app-driver-behaviour></app-driver-behaviour>
      </div>
      <div class="dashboard__col">
        <!--  -->
        <app-map></app-map>
      </div>
      <div>
        <app-gauges></app-gauges>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div>

  </div>
</div>
