<mat-list>
  <h3 matSubheader>Vehicle</h3>
  <mat-list-item>
    <label class="list__label">Description</label>
    Dennis Eagle Olympus
  </mat-list-item>
  <mat-list-item>
    <label class="list__label">Registration</label>
    YK16 3BJ
  </mat-list-item>
  <mat-list-item>
    <label class="list__label">Odometer</label>
    24,034 km
  </mat-list-item>
  <mat-list-item>
    <label class="list__label">Year</label>
    2017
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 matSubheader>Contract Details</h3>
  <mat-list-item>
    <label class="list__label">Client</label>
    Burnley Borough Council
  </mat-list-item>
  <mat-list-item>
    <label class="list__label">Period</label>
    18 months
  </mat-list-item>
  <mat-list-item>
    <label class="list__label">Start</label>
    1st July 2017
  </mat-list-item>
  <mat-list-item>
    <label class="list__label">End</label>
    1st November 2018
  </mat-list-item>
</mat-list>
