<mat-nav-list class="menu">
  <mat-list-item class="menu-item">
    <a href="#" class="menu-item__link">Home</a>
    <mat-icon class="menu-item__icon">home</mat-icon>
  </mat-list-item>
  <mat-list-item class="menu-item">
    <a href="#" class="menu-item__link">Fleet Management</a>
    <mat-icon class="menu-item__icon">directions_bus</mat-icon>
  </mat-list-item>
  <mat-list-item class="menu-item">
    <a href="#" class="menu-item__link">Reports</a>
    <mat-icon class="menu-item__icon">show_chart</mat-icon>
  </mat-list-item>
  <mat-list-item class="menu-item">
    <a href="#" class="menu-item__link">Account</a>
    <mat-icon class="menu-item__icon">person</mat-icon>
  </mat-list-item>
</mat-nav-list>
